{% extends "base.html" %}
{% block title %}
    Таблица
{% endblock %}
{% block content %}
    <style>
    table, td, th {
      border: 1px solid;
      width: 40%;
    }
    </style>
    <table>
        <tr>
            <th>Word</th>
            <th>TF</th>
            <th>IDF</th>
        </tr>
        {% for obj in page_obj %}
            <tr>
                <td>{{ obj.word }}</td>
                <td>{{ obj.tf }}</td>
                <td>{{ obj.idf }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include 'includes/paginator.html' %}
{% endblock %}